.track {
  position: relative;
  width: 100%;
  height: 55px;
  margin-top: 5px;
  border-bottom: 2px dashed white;
}

.wrapper {
  margin-bottom: 50px;
}

.car {
  position: absolute;
  left: 20px;
  bottom: 5px;
  height: 50px;
  width: 80px;
  transition: left 0.5s linear;
}

.name {
  margin-left: 10px;
  color: rgb(183, 235, 79);
}

.flag {
  position: absolute;
  right: 100px;
  bottom: 1px;
  height: 50px;
  width: 50px;
}
